Repository clusternet/clusternet, changes with the owners that CODEOWNERS names for each.
All owners: @dixudx, @clusternet/sig-admin, @clusternet/sig-utils, @clusternet/sig-scheduler, @clusternet/sig-apis, @clusternet/sig-clusters, @clusternet/sig-network, @clusternet/sig-apps

register FeedInventory
  pkg/apis/apps/v1alpha1/register.go
Owners: @clusternet/sig-apps, @clusternet/sig-apis

register FeedInventory (#304)
  pkg/apis/apps/v1alpha1/register.go
Owners: @clusternet/sig-apps, @clusternet/sig-apis

fix HelmRelease status update error
  pkg/utils/deployer.go
Owners: @clusternet/sig-utils

fix HelmRelease status update error (#305)
  pkg/utils/deployer.go
Owners: @clusternet/sig-utils

fix feedinventories creation
  deploy/scheduler/clusternet_scheduler_rbac.yaml
  pkg/hub/deployer/deployer.go
  pkg/hub/deployer/utils.go
Owners: @clusternet/sig-admin

fix feedinventories creation (#306)
  deploy/scheduler/clusternet_scheduler_rbac.yaml
  pkg/hub/deployer/deployer.go
  pkg/hub/deployer/utils.go
Owners: @clusternet/sig-admin

use redis for demo
  examples/static-dividing-scheduling/nginx-deployment.yaml
Owners: @dixudx

use redis for demo (#307)
  examples/static-dividing-scheduling/nginx-deployment.yaml
Owners: @dixudx

fix empty Base UID when populating Localizatios
  pkg/hub/deployer/deployer.go
Owners: @clusternet/sig-admin

fix empty Base UID when populating Localizatios (#308)
  pkg/hub/deployer/deployer.go
Owners: @clusternet/sig-admin

fix: releasename when deploy helm charts
  pkg/utils/deployer.go
Owners: @clusternet/sig-utils

bump clusternet image to v0.9.1
  deploy/agent/clusternet_agent_deployment.yaml
  deploy/hub/clusternet_hub_deployment.yaml
  deploy/scheduler/clusternet_scheduler_deployment.yaml
Owners: @clusternet/sig-admin

bump clusternet image to v0.9.1 (#310)
  deploy/agent/clusternet_agent_deployment.yaml
  deploy/hub/clusternet_hub_deployment.yaml
  deploy/scheduler/clusternet_scheduler_deployment.yaml
Owners: @clusternet/sig-admin

fixing releasename of helm charts (#309)
  pkg/utils/deployer.go
Owners: @clusternet/sig-utils

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Order is important;

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @dixudx will be requested for
# review when someone opens a pull request.
*       @dixudx

.github @clusternet/sig-admin

Dockerfile @clusternet/sig-admin
Makefile @clusternet/sig-admin

# cmd
/cmd @clusternet/sig-admin

# deploy
/deploy @clusternet/sig-admin

# hack scripts
/hack @clusternet/sig-utils

# manifests
/manifests @clusternet/sig-admin

# pkg
/pkg @clusternet/sig-admin

/pkg/agent     @clusternet/sig-admin
/pkg/hub       @clusternet/sig-admin
/pkg/scheduler @clusternet/sig-scheduler @clusternet/sig-admin

/pkg/apis          @clusternet/sig-apis
/pkg/apis/clusters @clusternet/sig-clusters @clusternet/sig-apis
/pkg/apis/proxies  @clusternet/sig-network @clusternet/sig-apis
/pkg/apis/apps     @clusternet/sig-apps @clusternet/sig-apis

/pkg/registry   @clusternet/sig-apis
/pkg/exchanger  @clusternet/sig-network
/pkg/features   @clusternet/sig-admin
/pkg/utils      @clusternet/sig-utils
